/* grid */

[a-grid] {
	display: grid;
	grid-template-rows: max-content;
	gap: var(--gap--d);

	align-items: flex-start;
}

[a-grid="2"] {
	grid-template-columns: repeat(2, 1fr);
}

[a-grid="3"] {
	grid-template-columns: repeat(3, 1fr);
}

[a-grid="4"] {
	grid-template-columns: repeat(4, 1fr);
}

[a-grid="5"] {
	grid-template-columns: repeat(5, 1fr);
}

[a-grid="6"] {
	grid-template-columns: repeat(6, 1fr);
}

/* gap */


[a-gap] {
	gap: var(--gap--d);
}

[a-gap="s"] {
	gap: var(--gap--s);
}

[a-gap="l"] {
	gap: var(--gap--l);
}

[a-gap="xl"] {
	gap: var(--gap--xl);
}

/* align */

[a-align-start] {
	align-items: flex-start;
}

[a-align-end] {
	align-items: flex-end;
}

[a-align-center] {
	align-items: flex-center;
}


/* grid-rows */

[a-grid-rows] {
	grid-template-rows: 1fr
}

[a-grid-rows="2"] {
	grid-template-rows: repeat(2, 1fr)
}


[a-grid-rows="3"] {
	grid-template-rows: repeat(3, 1fr)
}


[a-grid-rows="4"] {
	grid-template-rows: repeat(4, 1fr)
}


/* grid-col */

[a-grid-col="2"] {
	grid-column: span 2;
}

[a-grid-col="3"] {
	grid-column: span 3;
}

[a-grid-col="4"] {
	grid-column: span 4;
}

/* grid-row */

[a-grid-row="2"] {
	grid-row: span 2;
}

[a-grid-row="3"] {
	grid-row: span 3;
}

[a-grid-row="4"] {
	grid-row: span 4;
}