@import './color.css';
@import './grid.css';
@import './svg.css';
@import './container.css';
@import './canvas.css';
@import './scroll.css';


[a-window-size] {
	min-width: 100dvw;
	min-height: 100dvh;
}

[a-fluid] {
	height: 100%;
}