[a-input] {
	border: var(--form--border_width) solid var(--font-color--primary);
	padding: var(--gap--s);
	border-radius: var(--gap--s);
	background-color: var(--background-color--contrast);
}

[a-button] {
	cursor: pointer;
	padding: var(--gap--s);
	border-radius: var(--gap--s);
	border: var(--form--border_width) solid var(--font-color--primary);
	background-color: var(--background-color--contrast);
}

[a-button="primary"] {
	background-color: var(--color--secondary);
	color: var(--color--primary);
}