<section a-grid="3">
  <button
    a-button
    a-font="mark"
    a-click="live"
    a-value="clear"
  >
    Очистить
  </button>

  <button
    a-button
    a-font="mark"
    a-click="live"
    a-value="random"
  >
    Заполнить
  </button>

  <button
    a-button
    a-font="mark"
    a-click="live"
    a-value="pause"
  >
    Пауза
  </button>

  <div a-grid-col="2"></div>

  <button
    a-button="primary"
    a-font="mark"
    a-click="live"
    a-value="start"
  >
     Старт
  </button>
</section>
