<section a-themes>
  <div
    a-template="images/themes/atom.svg"
    a-click="theme"
    a-value="atom"
  ></div>

  <div
    a-template="images/themes/alien.svg"
    a-click="theme"
    a-value="alien"
  ></div>

  <!-- <div
    a-template="images/themes/astronaut.svg"
    a-click="theme"
    a-value="astronaut"
  ></div> -->

  <div
    a-template="images/themes/chemical.svg"
    a-click="theme"
    a-value="chemical"
  ></div>

  <!-- <div
    a-template="images/themes/jupiter.svg"
    a-click="theme"
    a-value="jupiter"
  ></div> -->

  <div
    a-template="images/themes/meteorite.svg"
    a-click="theme"
    a-value="meteorite"
  ></div>

  <div
    a-template="images/themes/star.svg"
    a-click="theme"
    a-value="star"
  ></div>

  <div
    a-template="images/themes/stars.svg"
    a-click="theme"
    a-value="stars"
  ></div>
</section>
