<section data-grid="6">
	<div
		class="theme"
		data-template="images/themes/alien.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/astronaut.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/atom.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/chemical.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/jupiter.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/meteorite.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/star.svg"
	></div>

	<div
		class="theme"
		data-template="images/themes/stars.svg"
	></div>
</section>
